<% if User.find_by({ "id" => session["user_id"] }) != nil %>
  <h1>New Place</h1>

  <form action="/places" method="post">
    <div class="mb-3">
      <label class="form-label" for="name_input">Name</label>
      <input class="form-control" type="text" name="name" id="name_input">  
    </div>
    <div class="mb-3">
      <button class="btn btn-secondary">Save</button>
    </div>
  </form>
<% end %>